# Kubernetes deployment and service for broker-service.

apiVersion: apps/v1
kind: Deployment
metadata:
  name: broker-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: broker-service
  template:
    metadata:
      labels:
        app: broker-service
    spec:
      containers:
        - name: broker-service
          image: "broker-service:local-arm64"
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          env:
            - name: AUTH_SERVICE_URL
              value: "http://authentication-service/authenticate"
            - name: LOGGER_SERVICE_URL
              value: "http://logger-service/log"
            - name: LOGGER_RPC_ADDR
              value: "logger-service:5001"
            - name: LOGGER_GRPC_ADDR
              value: "logger-service:50001"
            - name: MAIL_SERVICE_URL
              value: "http://mailer-service/send"
          ports:
            - containerPort: 80

---

apiVersion: v1
kind: Service
metadata:
  name: broker-service
spec:
  selector:
    app: broker-service
  ports:
    - protocol: TCP
      name: main-port
      port: 8080
      targetPort: 80
